@use "uswds-core" as *;

.vha-button {
    &.usa-button {
        background-color: #{color("primary-vivid")};
        transition: .2s linear;

        &:focus {
            transition: none;
        }

        &:hover {
            background-color: #0057ee;
        }

        &--emphasis {
            box-shadow: 0px 8px 24px rgba(0, 80, 216, 0.4);

            &:hover {
                box-shadow: 0px 12px 32px rgba(0, 80, 216, 0.6);
            }    
        }        

        &--inverse {
            background-color: #ffffff;
            color: #111111;

            &:hover {
                background-color: #eeeeee;
            }    
        }        

    }
}
