<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Calling all innovators, makers, design-obsessives, scientists, nurses, doctors, entrepreneurs, programmers, engineers, researchers, artists, UX & CX, health care futurists and more. Join us in making a difference for Veterans. This event brings top minds together from VA, academia, and public and private sectors to reimagine Veteran health care. Experienced mentors join subject matter experts to guide “hackers” through this opportunity to revolutionize the care we provide for Veterans.">
  <title>Veterans Health MIT Hacking Medicine 2024</title>

  <meta property="og:title" content="Veterans Health MIT Hacking Medicine 2024">
  <meta property="og:url" content="https://www.innovation.va.gov/ecosystem/views/veteran-health-mit-hacking-medicine-2024/">
  <meta property="og:description" content="This event brings top minds together from VA, academia, and public and private sectors to reimagine Veteran health care. Experienced mentors join subject matter experts to guide “hackers” through this opportunity to revolutionize the care we provide for Veterans.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.innovation.bgsandbox.com/ecosystem/views/veteran-health-mit-hacking-medicine-2024/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="assets/uswds/js/uswds-init.min.js"></script>
</head>

<body class="home-page">

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header.html" %}
      
        <main>
          {% include "home/hero.html" %}
          {% include "home/introduction.html" %}
          {% include "home/interested-participants.html" %}
          {% include "home/innovation-impact.html" %}
          {% include "home/countdown.html" %}
          {% include "home/what-to-expect.html" %}
          {% include "home/strategic-focus.html" %}
          {% include "home/track-challenges.html" %}
          {% include "home/collaborators.html" %}     
          {% include "home/hackathon-application.html" %}
        </main>

        {% include "footer.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="assets/uswds/js/uswds.min.js"></script>
    <script src="assets/js/vendors/lazy/jquery.lazy.min.js"></script>
    <script src="assets/js/vendors/countdown/countdown.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js" type="text/javascript"></script>
    <script src="assets/js/vendors/wavify/wavify.js" type="text/javascript"></script>
    <script src="assets/js/vendors/wavify/jquery.wavify.js" type="text/javascript"></script>
    <script src="assets/js/functions.js"></script>

</body>

</html>