<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Calling all innovators, makers, design-obsessives, scientists, nurses, doctors, entrepreneurs, programmers, engineers, researchers, artists, UX & CX, health care futurists and more. Join us in making a difference for Veterans. This event brings top minds together from VA, academia, and public and private sectors to reimagine Veteran health care. Experienced mentors join subject matter experts to guide “hackers” through this opportunity to revolutionize the care we provide for Veterans.">
  <title>Thank You - Veterans Health MIT Hacking Medicine 2024</title>

  <meta property="og:title" content="Thank You - Veterans Health MIT Hacking Medicine 2024">
  <meta property="og:url" content="https://www.innovation.va.gov/ecosystem/views/veteran-health-mit-hacking-medicine-2024/thank-you/">
  <meta property="og:description" content="This event brings top minds together from VA, academia, and public and private sectors to reimagine Veteran health care. Experienced mentors join subject matter experts to guide “hackers” through this opportunity to revolutionize the care we provide for Veterans.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.innovation.bgsandbox.com/ecosystem/views/veteran-health-mit-hacking-medicine-2024/assets/img/og-image.jpg">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub.html" %}
      
        <main>

            <section id="masthead-sub" class="masthead-sub">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12">
                            <nav class="usa-breadcrumb position-absolute" aria-label="Breadcrumbs">
                                <ol class="usa-breadcrumb__list">
                                  <li class="usa-breadcrumb__list-item">
                                    <a href="../" class="usa-breadcrumb__link"><span>Home</span></a>
                                  </li>
                                  <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                    <span>Thank You</span>
                                  </li>
                                </ol>
                            </nav>
                            <h1 class="text-center text-white padding-y-7 tablet-lg:padding-y-4">Thank you!</h1>
                        </div>
                    </div>
                </div>       
            </section>


            <section id="form-ty" class="form-ty text-center">
                <div class="grid-container">

                    {% include "form-registration/form-sectionTY.html" %}

                </div>
            </section>

        </main>

        {% include "footer-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../assets/uswds/js/uswds.min.js"></script>
    <script src="../assets/js/vendors/multiselect/multiselect-dropdown.js"></script>
    <script src="../assets/js/vendors/parsley/parsley.min.js"></script>
    <script src="../assets/js/parsley-functions.js"></script>
    <script src="../assets/js/functions.js"></script>

</body>

</html>