@use "uswds-core" as *;

.countdown {
    &__content-wrapper {
        background: linear-gradient(180deg, #0E142A 0%, #4A1E5E 100%);
        box-shadow: 0px 16px 32px rgba(204, 0, 255, 0.1);
        border-radius: 8px;
    }

    .decore.arrows {
        z-index: -1;
        bottom: -40px;
        right: -50px;

    }    
}