@use "uswds-core" as *;

.hackathon-applicaiton {
    position: relative;
    z-index: 10;
}

.more-details {
    background: linear-gradient(0deg, #000814 1%, #003EA8 100%);
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 150px;
    margin-top: 0;

    @include at-media("tablet") {
        padding-top: 150px;
        margin-top: 0;
    }

    @include at-media("tablet-lg") {
        padding-top: 200px;
        margin-top: 0;
    }

    @include at-media("widescreen") {
        padding-top: 200px;
        margin-top: 0;
    }

    &__border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}