<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>VA Hackathon</title>

  <meta property="og:title" content="((TITLE))">
  <meta property="og:url" content="((URL))">
  <meta property="og:description" content="((DESCRIPTION))">
  <meta property="og:type" content="website">
  <meta property="og:image" content="((OG:IMAGE URL))">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="../assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header-sub.html" %}
      
        <main>

            <section id="masthead-sub" class="masthead-sub">
                <div class="grid-container">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12">
                            <nav class="usa-breadcrumb position-absolute" aria-label="Breadcrumbs">
                                <ol class="usa-breadcrumb__list">
                                  <li class="usa-breadcrumb__list-item">
                                    <a href="/" class="usa-breadcrumb__link"><span>Home</span></a>
                                  </li>
                                  <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
                                    <span>Participant Registration</span>
                                  </li>
                                </ol>
                            </nav>
                            <h1 class="text-center text-white padding-y-7 tablet-lg:padding-y-4">Participant Registration</h1>
                        </div>
                    </div>
                </div>       
            </section>

            <section id="form-instructions" class="form-instructions">
                <div class="grid-container">
                    <div class="grid-row grid-gap flex-justify-center">
                        <div class="grid-col-10 tablet:grid-col-12 desktop-lg:grid-col-8">
                            <p class="padding-y-6">
                                Please fill out the application below. Applications for each individual must be submitted, as we do not accept team applications.
                                <br>
                                <br>
                                The deadline for applications is April 30th. Admissions will be sent out on a rolling basis, but we encourage you to get your application in as early as possible. Upon acceptance, we will send you an email.
                                <br>
                                <br>
                                - VA & MIT Hacking Medicine
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="form-fields" class="form-fields">
                <div class="grid-container">

                    <form class="usa-form form-registration" data-parsley-validate>
 
                        {% include "form-registration/form-section1.html" %} 

                        {% include "form-registration/form-section2.html" %}

                        {% include "form-registration/form-section3.html" %}

                        {% include "form-registration/form-section4.html" %}

                        {% include "form-registration/form-sectionC.html" %}

                        <hr class="margin-top-10" role="none" />

                        <div class="form-navigation text-right margin-y-5">
                            <button type="button" class="usa-button usa-button--outline previous btn margin-bottom-1 tablet-lg:margin-bottom-0" id="backBtn">Back</button>
                            <button type="button" class="usa-button next btn tablet:margin-left-1 bg-primary-vivid" id="nextBtn">Continue</button>
                            <input class="usa-button btn tablet:margin-left-1 bg-primary-vivid" type="submit" value="Complete Application">
                            <span class="clearfix"></span>
                        </div>

                    </form>

                </div>
            </section>

        </main>

        {% include "footer-sub.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="../assets/uswds/js/uswds.min.js"></script>
    <script src="../assets/js/vendors/multiselect/multiselect-dropdown.js"></script>
    <script src="../assets/js/vendors/parsley/parsley.min.js"></script>
    <script src="../assets/js/parsley-functions.js"></script>
    <script src="../assets/js/functions.js"></script>
    <script>
        document.getElementById("nextBtn").addEventListener('click', function () {
            document.querySelector('.progress-tracker').scrollIntoView();
        });
        
        document.getElementById("backBtn").addEventListener('click', function () {
            document.querySelector('.progress-tracker').scrollIntoView();
        });
    </script>

</body>

</html>