<div class="form-section">

    <div id="progress-tracker" class="progress-tracker" data-parsley-group="block-1">
        <div class="grid-container">
            <div class="grid-row grid-gap flex-justify-center">
                <div class="grid-col-10 tablet-lg:grid-col-8 tablet-lg:grid-offset-1">
                    <div class="usa-step-indicator usa-step-indicator--counters"
                    aria-label="progress">
                        <ol class="usa-step-indicator__segments">
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
                                <span class="usa-step-indicator__segment-label">
                                    Personal Info.
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--current" aria-current="true">
                                <span class="usa-step-indicator__segment-label">
                                    Logistics
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment">
                                <span class="usa-step-indicator__segment-label">
                                    Additional Info.
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment">
                                <span class="usa-step-indicator__segment-label">
                                    Questions
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment">
                                <span class="usa-step-indicator__segment-label">
                                Confirmation
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-row" data-parsley-group="block-1">
        <div class="grid-col-12 padding-top-4">
            <h2>Logistics</h2>
        </div>
    </div>

    <div class="grid-row">
        <div class="grid-col-12 tablet-lg:grid-col-6 tablet-lg:padding-right-2">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend usa-legend">Will you be traveling from outside the United States to attend this event? <span>*</span></legend>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="travel-no"
                    type="radio"
                    name="travel-options"
                    value="No"
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="travel-no"
                    >No</label
                  >
                </div>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="travel-yes"
                    type="radio"
                    name="travel-options"
                    value="Yes"
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="travel-yes"
                    >Yes</label
                  >
                </div>
                <div class="usa-radio">
                    <input
                      class="usa-radio__input"
                      id="travel-yes_visa"
                      type="radio"
                      name="travel-options"
                      value="Yes, and I require a visa"
                      required=""
                      data-parsley-group="block-1"
                    />
                    <label class="usa-radio__label" for="travel-yes_visa"
                      >Yes, and I require a visa</label
                    >
                </div>
            </fieldset>
        </div>
    
        <div class="grid-col-12 padding-top-4 tablet-lg:padding-top-0 tablet-lg:grid-col-6 tablet-lg:padding-left-2">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend usa-legend">Will you require a room in our hotel block (we will hold a block of rooms in a local hotel and you can pay to stay as you wish)? <span>*</span></legend>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="hotel-no"
                    type="radio"
                    name="hotel-options"
                    value="No"
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="hotel-no"
                    >No</label
                  >
                </div>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="hotel-yes"
                    type="radio"
                    name="hotel-options"
                    value="Yes"
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="hotel-yes"
                    >Yes</label
                  >
                </div>
                <div class="usa-radio">
                    <input
                      class="usa-radio__input"
                      id="hotel-not_sure"
                      type="radio"
                      name="hotel-options"
                      value="Not sure"
                      required=""
                      data-parsley-group="block-1"
                    />
                    <label class="usa-radio__label" for="hotel-not_sure"
                      >Not sure</label
                    >
                </div>
            </fieldset>
        </div>
    </div>

    <div class="grid-row tablet-lg:padding-top-4">
        <div class="grid-col-12 padding-top-4 tablet-lg:padding-top-0 tablet-lg:grid-col-6 tablet-lg:padding-right-2">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend usa-legend">Do you have any accessibility needs that require accommodation for the Hackathon? <span>*</span></legend>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="access-no"
                    type="radio"
                    name="access-options"
                    value="No"
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="access-no"
                    >No</label
                  >
                </div>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="access-yes"
                    type="radio"
                    name="access-options"
                    value="Yes"
                    required=""
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="access-yes"
                    >Yes</label
                  >
                </div>
            </fieldset>
        </div>

        <div class="grid-col-12 padding-top-4 tablet-lg:padding-top-0 tablet-lg:grid-col-6 tablet-lg:padding-left-2">
            <label class="usa-label" for="access-needs">If you selected yes in the previous question, please explain</label>
            <input class="usa-input form-control" type="text" name="access-needs" id="access-needs" data-parsley-group="block-1">
        </div>
    </div>

    <div class="grid-row tablet-lg:padding-top-4">
        <div class="grid-col-12 padding-top-4 tablet-lg:padding-top-0 tablet-lg:grid-col-4 tablet-lg:padding-right-2">
            <label class="usa-label" for="tshirt">T-shirt size <span>*</span></label>
            <select class="usa-select" name="tshirt" id="tshirt" required="" data-parsley-group="block-1">
                <option value="XXS">XXS</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M" selected="selected">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="2XL">2XL</option>
                <option value="3XL">3XL</option>
                <option value="4XL">4XL</option>
            </select>
            <p class="sub-label">All in Men's sizes.</p>
        </div>

        <div class="grid-col-12 padding-top-2 tablet-lg:padding-top-0 tablet-lg:grid-col-4 tablet-lg:padding-x-1">
            <label class="usa-label" for="diet">Please list your dietary preferences <span>*</span></label>
            <select class="usa-select" name="diet" id="diet" required="" data-parsley-group="block-1">
                <option value="Vegetarian">Vegetarian</option>
                <option value="Vegan">Vegan</option>
                <option value="Pescatarian">Pescatarian</option>
                <option value="Omnivore" selected="selected">Omnivore</option>
                <option value="Paleo">Paleo</option>
                <option value="Gluten-free">Gluten-free</option>
                <option value="Dairy-free">Dairy-free</option>
                <option value="Nut-free">Nut-free</option>
                <option value="Raw food diet">Raw food diet</option>
                <option value="Dairy-free">Dairy-free</option>
                <option value="Halal">Halal</option>
                <option value="Ayurvedic">Ayurvedic</option>
            </select>
            <p class="sub-label">We will do our best to accommodate everyone attending the event.</p>
        </div>
    </div>

    <div class="grid-row padding-top-4" data-parsley-group="block-1">
        <div class="grid-col-12">
            <h2>Emergency Contact</h2>
        </div>
    </div>

    <div class="grid-row">
        <div class="grid-col-12 tablet-lg:grid-col-4 tablet-lg:padding-right-2">
            <label class="usa-label" for="emer-name">Name <span>*</span></label>
            <input class="usa-input form-control" type="text" name="emer-name" id="emer-name" required="" data-parsley-group="block-1">
        </div>

        <div class="grid-col-12 padding-top-2 tablet-lg:padding-top-0 tablet-lg:grid-col-4 tablet-lg:padding-x-1">
            <label class="usa-label" for="emer-email">Email <span>*</span></label>
            <input class="usa-input form-control" type="emer-email" name="emer-email" id="emer-email" required="" data-parsley-group="block-1">
        </div>

        <div class="grid-col-12 padding-top-2 tablet-lg:padding-top-0 tablet-lg:grid-col-4 tablet-lg:padding-left-2">
            <label class="usa-label" for="emer-phone">Phone <span>*</span></label>
            <input class="usa-input form-control" type="text" name="emer-phone" id="emer-phone" required="" data-parsley-group="block-1">
        </div>
    </div>

</div>