<div class="form-section">

    <div id="progress-tracker" class="progress-tracker" data-parsley-group="block-1">
        <div class="grid-container">
            <div class="grid-row grid-gap flex-justify-center">
                <div class="grid-col-10 tablet-lg:grid-col-8 grid-offset-1">
                    <div class="usa-step-indicator usa-step-indicator--counters"
                    aria-label="progress">
                        <ol class="usa-step-indicator__segments">
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
                                <span class="usa-step-indicator__segment-label">
                                    Personal Info.
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--current" aria-current="true">
                                <span class="usa-step-indicator__segment-label">
                                    Logistics
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment">
                                <span class="usa-step-indicator__segment-label">
                                    Additional Info.
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment">
                                <span class="usa-step-indicator__segment-label">
                                    Questions
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment">
                                <span class="usa-step-indicator__segment-label">
                                Confirmation
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-row" data-parsley-group="block-1">
        <div class="grid-col-12">
            <h2>Logistics</h2>
        </div>
    </div>

    <div class="grid-row">
        <div class="grid-col-12 tablet:grid-col-6 tablet:padding-right-2">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend usa-legend">Will you be traveling from outside the United States to attend this event? <span>*</span></legend>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="travel-no"
                    type="radio"
                    name="travel-options"
                    value="no"
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="travel-no"
                    >No</label
                  >
                </div>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="travel-yes"
                    type="radio"
                    name="travel-options"
                    value="yes"
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="travel-yes"
                    >Yes</label
                  >
                </div>
                <div class="usa-radio">
                    <input
                      class="usa-radio__input"
                      id="travel-yes_visa"
                      type="radio"
                      name="travel-options"
                      value="yes_visa"
                      required=""
                      data-parsley-group="block-1"
                    />
                    <label class="usa-radio__label" for="travel-yes_visa"
                      >Yes, and I require a visa</label
                    >
                </div>
            </fieldset>
        </div>
    
        <div class="grid-col-12 padding-top-4 tablet:padding-top-0 tablet:grid-col-6 tablet:padding-left-2">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend usa-legend">Will you require a room in our hotel block (we will hold a block of rooms in a local hotel and you can pay to stay as you wish)? <span>*</span></legend>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="hotel-no"
                    type="radio"
                    name="hotel-options"
                    value="no"
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="hotel-no"
                    >No</label
                  >
                </div>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="hotel-yes"
                    type="radio"
                    name="hotel-options"
                    value="yes"
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="hotel-yes"
                    >Yes</label
                  >
                </div>
                <div class="usa-radio">
                    <input
                      class="usa-radio__input"
                      id="hotel-not_sure"
                      type="radio"
                      name="hotel-options"
                      value="not_sure"
                      required=""
                      data-parsley-group="block-1"
                    />
                    <label class="usa-radio__label" for="hotel-not_sure"
                      >Not sure</label
                    >
                </div>
            </fieldset>
        </div>
    </div>

    <div class="grid-row tablet:padding-top-4">
        <div class="grid-col-12 padding-top-4 tablet:padding-top-0 tablet:grid-col-6 tablet:padding-right-2">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend usa-legend">Do you have any accessibility needs that require accommodation for the Hackathon? <span>*</span></legend>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="access-no"
                    type="radio"
                    name="access-options"
                    value="no"
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="access-no"
                    >No</label
                  >
                </div>
                <div class="usa-radio">
                  <input
                    class="usa-radio__input"
                    id="access-yes"
                    type="radio"
                    name="access-options"
                    value="yes"
                    required=""
                    data-parsley-group="block-1"
                  />
                  <label class="usa-radio__label" for="access-yes"
                    >Yes</label
                  >
                </div>
            </fieldset>
        </div>

        <div class="grid-col-12 padding-top-4 tablet:padding-top-0 tablet:grid-col-6 tablet:padding-left-2">
            <label class="usa-label" for="access-needs">If you selected yes in the previous question, please explain</label>
            <input class="usa-input" type="text" class="form-control" name="access-needs" data-parsley-group="block-1">
        </div>
    </div>

    <div class="grid-row tablet:padding-top-4">
        <div class="grid-col-12 padding-top-4 tablet:padding-top-0 tablet:grid-col-4 tablet:padding-right-2">
            <label class="usa-label" for="tshirt">T-shirt size <span>*</span></label>
            <div class="usa-combo-box">
                <select class="usa-select" name="tshirt" id="tshirt" required="" data-parsley-group="block-1">
                    <option value="xxs">XXS</option>
                    <option value="xs">XS</option>
                    <option value="s">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                    <option value="2xl">2XL</option>
                    <option value="3xl">3XL</option>
                    <option value="4xl">4XL</option>
                </select>
            </div>
            <p class="sub-label">All in Men's sizes.</p>
        </div>

        <div class="grid-col-12 tablet:grid-col-4 tablet:padding-x-1">
            <label class="usa-label" for="diet">Please list your dietary preferences <span>*</span></label>
            <div class="usa-combo-box">
                <select class="usa-select" name="diet" id="diet" required="" data-parsley-group="block-1">
                    <option value="he">Vegetarian</option>
                    <option value="she">Vegan</option>
                    <option value="they">Pescatarian</option>
                    <option value="ze">Omnivore</option>
                    <option value="not">Paleo</option>
                    <option value="nopref">Gluten-free</option>
                    <option value="nopref">Dairy-free</option>
                    <option value="nopref">Nut-free</option>
                    <option value="nopref">Raw food diet</option>
                    <option value="nopref">Dairy-free</option>
                    <option value="nopref">Halal</option>
                    <option value="nopref">Ayurvedic</option>
                </select>
            </div>
            <p class="sub-label">We will do our best to accommodate everyone attending the event.</p>
        </div>
    </div>

    <div class="grid-row padding-top-4" data-parsley-group="block-1">
        <div class="grid-col-12">
            <h2>Emergency Contact</h2>
        </div>
    </div>

    <div class="grid-row">
        <div class="grid-col-12 tablet:grid-col-4 tablet:padding-right-2">
            <label class="usa-label" for="emer-firstname">First name <span>*</span></label>
            <input class="usa-input" type="text" class="form-control" name="emer-firstname" required="" data-parsley-group="block-1">
        </div>

        <div class="grid-col-12 tablet:grid-col-4 tablet:padding-x-1">
            <label class="usa-label" for="emer-email">Email <span>*</span></label>
            <input class="usa-input" type="emer-email" class="form-control" name="emer-email" required="" data-parsley-group="block-1">
        </div>

        <div class="grid-col-12 tablet:grid-col-4 tablet:padding-left-2">
            <label class="usa-label" for="emer-phone">Phone <span>*</span></label>
            <input class="usa-input" type="text" class="form-control" name="emer-phone" required="" data-parsley-group="block-1">
        </div>
    </div>

</div>