<div class="form-section">

    <div id="progress-tracker" class="progress-tracker" data-parsley-group="block-3">
        <div class="grid-container">
            <div class="grid-row grid-gap flex-justify-center">
                <div class="grid-col-10 tablet-lg:grid-col-8 grid-offset-1">
                    <div class="usa-step-indicator usa-step-indicator--counters"
                    aria-label="progress">
                        <ol class="usa-step-indicator__segments">
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
                                <span class="usa-step-indicator__segment-label">
                                    Personal Info.
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
                                <span class="usa-step-indicator__segment-label">
                                    Logistics
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
                                <span class="usa-step-indicator__segment-label">
                                    Additional Info.
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
                                <span class="usa-step-indicator__segment-label">
                                    Questions
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--current" aria-current="true">
                                <span class="usa-step-indicator__segment-label">
                                Confirmation
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-row" data-parsley-group="block-3">
        <div class="grid-col-12">
            <h2>Registration Confirmation</h2>
            <p>Please review your registration information prior to submitting the application. Click “back” to make any necessary changes.</p>
        </div>
    </div>

</div>