<div class="form-section confirmation-page">

    <div id="results_progress-tracker" class="progress-tracker" data-parsley-group="block-4">
        <div class="grid-container">
            <div class="grid-row grid-gap flex-justify-center">
                <div class="grid-col-10 tablet-lg:grid-col-8 tablet-lg:grid-offset-1">
                    <div class="usa-step-indicator usa-step-indicator--counters"
                    aria-label="progress">
                        <ol class="usa-step-indicator__segments">
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
                                <span class="usa-step-indicator__segment-label">
                                    Personal Info.
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
                                <span class="usa-step-indicator__segment-label">
                                    Logistics
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
                                <span class="usa-step-indicator__segment-label">
                                    Additional Info.
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
                                <span class="usa-step-indicator__segment-label">
                                    Questions
                                </span>
                            </li>
                            <li class="usa-step-indicator__segment usa-step-indicator__segment--current" aria-current="true">
                                <span class="usa-step-indicator__segment-label">
                                Confirmation
                                </span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-row" data-parsley-group="block-4">
        <div class="grid-col-12">
            <h2>Registration Confirmation</h2>
            <p>Please review your registration information prior to submitting the application. Click “back” to make any necessary changes.</p>
        </div>
    </div>

    <div class="grid-row" data-parsley-group="block-4">
        <div class="grid-col-12">
            <table class="usa-table">
                <thead>
                    <tr>
                        <th colspan="2">Personal Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">First name</th>
                        <td id="results_fname"></td>
                    </tr>
                    <tr>
                        <th scope="row">Last name</th>
                        <td id="results_lname"></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td id="results_email"></td>
                    </tr>
                    <tr>
                        <th scope="row">Phone</th>
                        <td id="results_phone"></td>
                    </tr>
                    <tr>
                        <th scope="row">Preferred Pronoun</th>
                        <td id="results_pronoun"></td>
                    </tr>
                    <tr>
                        <th scope="row">Country of Residence</th>
                        <td id="results_country"></td>
                    </tr>
                    <tr>
                        <th scope="row">State</th>
                        <td id="results_state"></td>
                    </tr>
                    <tr>
                        <th scope="row">City</th>
                        <td id="results_city"></td>
                    </tr>
                    <tr>
                        <th scope="row">Which of the following best describes your ethnic background?</th>
                        <td id="results_ethnicity"></td>
                    </tr>
                    <tr>
                        <th scope="row">If you selected "other" to the previous question, please elaborate if you feel comfortable doing so.</th>
                        <td id="results_other_ethnicity"></td>
                    </tr>
                    <tr>
                        <th scope="row">Are you active duty or a Veteran of the United States Military?</th>
                        <td id="results_veteran"></td>
                    </tr>
                    <tr>
                        <th scope="row">What is your occupation?</th>
                        <td id="results_occupation"></td>
                    </tr>
                    <tr>
                        <th scope="row">School / Company Name</th>
                        <td id="results_school_company"></td>
                    </tr>
                    <tr>
                        <th scope="row">Job Title:</th>
                        <td id="results_job_title"></td>
                    </tr>
                    <tr>
                        <th scope="row">What is your primary background?</th>
                        <td id="results_prim_bkgd"></td>
                    </tr>
                    <tr>
                        <th scope="row">Additional background areas</th>
                        <td id="results_addl_bkgd"></td>
                    </tr>
                    <tr>
                        <th scope="row">Link to Resume</th>
                        <td id="results_resume"></td>
                    </tr>
                    <tr>
                        <th scope="row">LinkedIn Profile URL</th>
                        <td id="results_linkedin"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="2">Logistics</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

