.z-index-10 { z-index:10;}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: .3s;
    transition: .3s;
    content: "";
}

.flip-vertically {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    -webkit-filter: FlipV;
    filter: FlipV;
    -ms-filter: "FlipV"
}

.position-center-vertically {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.position-center-horizontally {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}