<section id="collaborators" class="collaborators padding-6 tablet-lg:padding-10">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 text-center">
                <h2>Veterans Health - MIT Hacking Medicine 2024 Collaborators</h2>
            </div>
        </div>
        <div class="grid-row grid-gap">
            <div class="grid-col-12 display-flex flex-justify-center flex-wrap">
                <img data-src="assets/img/home/logos/vha-ie.png" alt="Veterans Health Administration Innovation Ecosystem logo" class="lazy padding-x-4 padding-y-2" />
                <img data-src="assets/img/home/logos/vha-nci2i.png" alt="Veterans Health Administration National Centers for Innovation to Impact" class="lazy padding-x-4 padding-y-2" />
            </div>
        </div>
        <div class="grid-row flex-align-center flex-justify-center">            
            <img data-src="assets/img/home/logos/microsoft.png" alt="Microsoft logo" class="lazy padding-x-4 padding-y-2" />
            <img data-src="assets/img/home/logos/mit-hacking.png" alt="MIT Hacking Medicine logo" class="lazy padding-x-4 padding-y-2" />
            <img data-src="assets/img/home/logos/cdce.png" alt="VA Center for Development & Civic Engagement logo" class="lazy padding-y-2" />            
        </div>
        <div class="grid-row flex-justify-center">
            <img data-src="assets/img/home/logos/visn8.png" alt="Veterans Affairs Sunshine Healthcare Network logo" class="lazy padding-x-4 padding-y-2" />
            <img data-src="assets/img/home/logos/oit-va.png" alt="Office of Information and Technology logo" class="lazy padding-x-4 padding-y-2" />
            <img data-src="assets/img/home/logos/visn9.png" alt="Veterans Affairs MidSouth Healthcare Network logo" class="lazy padding-x-4 padding-y-2" />
            <img data-src="assets/img/home/logos/va-logo.png" alt="U.S. Department of Veterans Affairs logo" class="lazy padding-x-4 padding-y-3" />
        </div>
        <div class="grid-row flex-justify-center margin-top-5">
            <h2>Sponsors</h2>
        </div>
        <div class="grid-row flex-justify-center flex-align-center">            
            <img data-src="assets/img/home/logos/kellogg.png" alt="Northwestern Kellogg School of Management logo" class="lazy padding-x-4 padding-y-2" />
            <img data-src="assets/img/home/logos/ey-logo.jpg" alt="EY Building a better working world logo" class="lazy padding-x-4 padding-y-2" />
            <img data-src="assets/img/home/logos/usf.png" alt="University of South Florida logo" class="lazy padding-x-4 padding-y-2" />                
            <img data-src="assets/img/home/logos/accenture-federal-services-logo.png" alt="Accenture Federal Services logo" class="lazy padding-x-4 padding-y-2" />                
            <img data-src="assets/img/home/logos/huron-logo.jpg" alt="Huron Logo" class="lazy padding-x-4 padding-y-2" />                
        </div>  
        <div class="grid-row flex-justify-center flex-align-center">            
            <img data-src="assets/img/home/logos/tampa-va-logo.png" alt="Tampa VA logo" class="lazy padding-x-4 padding-y-2" />
            <img data-src="assets/img/home/logos/celestar-logo.jpg" alt="Celestar" class="lazy padding-x-4 padding-y-2" />
            <img data-src="assets/img/home/logos/ASI-logo-horiz.png" alt="Accessibility Services logo" class="lazy padding-x-4 padding-y-2" />                
        </div>                                
    </div>
</section>