<section id="collaborators" class="collaborators padding-top-6 tablet-lg:padding-top-10">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 text-center">
                <h2>Veterans Health - MIT Hacking Medicine 2024 Collaborators</h2>
            </div>
        </div>
        <div class="grid-row grid-gap">
            <div class="grid-col-12 display-flex flex-justify-center flex-wrap">
                <img src="assets/img/home/logos/vha-ie.png" alt="Veterans Health Administration Innovation Ecosystem logo" class="lazy padding-x-4 padding-y-2" />
                <img src="assets/img/home/logos/vha-nci2i.png" alt="Veterans Health Administration National Centers for Innovation to Impact" class="lazy padding-x-4 padding-y-2" />
            </div>
        </div>
        <div class="grid-row grid-gap">            
            <div class="grid-col-12 display-flex flex-justify-center flex-wrap">
                <img src="assets/img/home/logos/visn8.png" alt="Veterans Affairs Sunshine Healthcare Network logo" class="lazy padding-x-4 padding-y-2" />
                <img src="assets/img/home/logos/haley-va.png" alt="Veterans Health Administration James A. Haley Veterans' Hospital logo" class="lazy padding-x-4 padding-y-2" />
                <img src="assets/img/home/logos/member-services.png" alt="Veterans Health Administration Member Services logo" class="lazy padding-x-4 padding-y-2" />
                <img src="assets/img/home/logos/visn9.png" alt="Veterans Affairs MidSouth Healthcare Network logo" class="lazy padding-x-4 padding-y-2" />
                <img src="assets/img/home/logos/oit-va.png" alt="Office of Information and Technology logo" class="lazy padding-x-4 padding-y-2" />
            </div>            
        </div>   
        <div class="grid-row grid-gap flex-align-center flex-justify-center">            
                <img src="assets/img/home/logos/ccdce.png" alt="VA Center for Development & Civic Engagement logo" class="lazy padding-x-4 padding-y-2" />
                <img src="assets/img/home/logos/mit-hacking.png" alt="MIT Hacking Medicine logo" class="lazy padding-x-4 padding-y-2" />
                <img src="assets/img/home/logos/usf.png" alt="University of South Florida logo" class="lazy padding-x-4 padding-y-2" />
        </div>                      
    </div>
</section>