<section id="countdown" class="countdown">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                <div class="countdown__content-wrapper position-relative text-white padding-4 overflow-hidden">
                    <div class="grid-row grid-gap text-center flex-align-center position-relative z-100">
                        <div class="grid-12 tablet-lg:grid-col-6 margin-bottom-3 tablet-lg:margin-0">
                            <h2 class="h3">Join Us May 17, 2024 to May 19, 2024</h2>
                            <p class="margin-0">
                                <strong>University of South Florida</strong><br />
                                Morsani College of Medicine | Tampa, FL
                            </p>
                        </div>
                        <div class="grid-col-12 tablet-lg:grid-col-6 flex-align-center">
                            <div id="countdown-timer" class="countdown__timer grid-row grid-gap"></div>
                        </div>                        
                    </div>                   
                </div>
            </div>        
        </div>
    </div>
</section>