<section id="more-details" class="more-details padding-6 tablet:padding-10">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-12 text-center text-white">
                <h2>Download our comprehensive FAQ and event agenda.</h2>
                <a href="assets/documents/Veterans-Health-MIT-Hacking-Medicine-FAQ.pdf" class="usa-button vha-button usa-button--inverse margin-bottom-2">View FAQ</a>
                <a href="assets/documents/Final-Agenda-Veterans-Health-Hackathon.pdf" class="usa-button usa-button--outline usa-button--inverse margin">View Agenda</a>
            </div>
        </div>
    </div>
    <div class="more-details__border flip-vertically">
        <svg class="z-200 display-block position-relative bottom-0" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path id="wave-contact" d /></svg>            
    </div>
</section>