<section id="hero" class="hero padding-top-6 tablet:padding-top-10 desktop:padding-top-15">
    <div class="hero__wrapper">
        <div class="hero__content">
            <div class="grid-container">
                <div class="grid-row">
                    <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1 text-center">
                        <h1 class="hero__main-heading margin-bottom-2"><span class="display-block tablet-lg:display-inline">Veterans Health </span>MIT Hacking Medicine 2024</h1>
                        <h2 class="h3 display-block text-light margin-bottom-3">Hosted by Tampa VAMC; Powered by Microsoft Artificial Intelligence Technology</h2>
                        <h3 class="h2 text-bold display-block"><span class="display-block tablet-lg:display-inline">May 17 - 19, 2024</span> at University of South Florida</h3>
                        <div class="hero__cta ">
                            <a href="/participant-registration/" class="usa-button vha-button usa-button--big" title="Apply to take part in the Hackathon">Apply Today!</a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="hero__border">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1512 213" preserveAspectRatio="xMidYMax meet">
                <path fill="#fff" d="M0 203.898s214.195-50.241 337.05-58.177c122.855-7.936 207.974 25.831 363.628 12.916C856.333 145.721 884.263 69.215 1033.93 57.67c76.9-5.932 215.07 27.76 299.57 24.695C1418 79.3 1512 0 1512 0v213H0v-9.102Z"/>
            </svg>                
        </div>
    </div>
</section>