<section id="hero" class="hero padding-top-6 tablet:padding-top-10 desktop:padding-top-15">
    <div class="hero__wrapper">
        <div class="hero__content">
            <div class="grid-container">
                <div class="grid-row grid-gap">
                    <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1 text-center">
                        <h1 class="hero__main-heading margin-bottom-2"><span class="display-block">Veterans Health </span>MIT Hacking Medicine 2024</h1>
                        <h2 class="h3 display-block text-light margin-bottom-3">Hosted by Tampa VAMC; Powered by Microsoft Artificial Intelligence Technology</h2>
                        <h3 class="h2 text-bold display-block"><span class="display-block tablet-lg:display-inline">May 17 - 19, 2024</span> at University of South Florida</h3>
                        <div class="hero__cta ">
                            <a href="/participant-registration/" class="usa-button vha-button usa-button--emphasis usa-button--big" title="Apply to take part in the Hackathon">Apply Today!</a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="hero__border">
            <svg class="z-200 display-block position-relative bottom-0" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path id="wave-hero-1" d /></svg>            
            <svg class="z-100 display-block position-absolute bottom-0" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path id="wave-hero-2" d /></svg>
        </div>
    </div>
</section>