<section id="hero" class="hero padding-top-6 tablet:padding-top-8 desktop:padding-top-9">
    <div class="hero__wrapper">
        <div class="hero__content">
            <div class="grid-container">
                <div class="grid-row grid-gap">
                    <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1 text-center">
                        <h1 class="hero__main-heading margin-bottom-2">Veterans Health - MIT Hacking Medicine 2024</h1>
                        <img src="assets/img/home/tampa-va-medical-center-badge.png" width="240" height="240" alt="circular badge displaying Tampa VA Medical Center campus" class="margin-right-2" />
                        <h2 class="h3 display-block text-light margin-bottom-3">Hosted by Tampa VA Medical Center</h2>
                        <h3 class="text-bold display-block"><span class="display-block desktop:display-inline">May 17 - 19, 2024,</span> at USF Morsani College of Medicine | Tampa, FL</h3>
                        <div class="hero__cta ">
                            <a href="participant-application/" class="usa-button vha-button usa-button--emphasis usa-button--big" title="Apply to take part in the Hackathon">Apply Today!</a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="hero__border">
            <svg class="z-200 display-block position-relative bottom-0" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path id="wave-hero-1" d /></svg>            
            <svg class="z-100 display-block position-absolute bottom-0" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path id="wave-hero-2" d /></svg>
        </div>
    </div>
</section>