<section id="innovation-impact" class="innovation-impact padding-y-6 tablet:padding-y-10">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                <div class="grid-row grid-gap">
                    <div class="grid-col-12 tablet-lg:grid-col-7">
                        <h2 class="h3 text-primary-vivid">Innovate for Impact:</h3>
                        <h3 class="h2 margin-top-0">Veterans Health MIT Hacking Medicine Hackathon</h3>            
                    </div>
                    <div class="grid-col-12 tablet-lg:grid-col-5">
                        <p>The Veteran Health Hackathon is a three-day event where participants are teamed up with diverse peers and expert mentors. Equipped with a suite of development tools and access to unique VA aggregated datasets, the aim is to collaboratively devise conceptual solutions to solve critical health challenges encountered by Veterans.</p>        
                    </div>                        
                </div>      
            </div>        
        </div>
    </div>
</section>