<section id="interested-participants" class="interested-participants">
    <div class="grid-container">
        <div class="interested-participants__wrapper padding-y-4 padding-x-4 tablet:padding-y-10 tablet:padding-x-7 position-relative">
            <div class="grid-row grid-gap flex-row flex-align-center">
                <div class="grid-col-12 tablet-lg:grid-col-6 order-1 tablet-lg:order-0">
                    <img data-src="assets/img/home/interested-participants.png" alt="two people working on computers in a lab" class="lazy img-fluid radius-lg" />
                </div>
                <div class="grid-col-12 tablet-lg:grid-col-6 flex-align-center order-0 tablet-lg:order-1 margin-bottom-4 tablet-lg:margin-0">
                    <div class="display-flex flex-row flex-align-center">
                        <img src="assets/img/home/spaceship-alt.svg" alt="lined icon rocket ship taking off" class="margin-right-2" />
                        <h2 class="margin-0">Interested Participants</h2>
                    </div>                
                    <p>Up to 300 participants, drawn primarily from Florida's VA Health Systems (VISN08), their academic affiliates, and the Tampa Bay community will work directly on solutions. Additional hackers will be selected through a nationally competitive process to ensure a diversity of backgrounds and expertise.</p>
                    <a href="participant-application/" class="usa-button vha-button usa-button--inverse margin-bottom-2">Start Your Application</a>
                    <a href="assets/documents/NC4TI-Hackathon-Flyers-Final-QR.pdf" class="usa-button usa-button--outline usa-button--inverse margin">Download Flyer</a>
                </div>                
            </div>
        </div>
    </div>
</section>