<section id="introduction" class="introduction padding-y-6 tablet:padding-y-10">
    <div class="hero__content">
        <div class="grid-container">
            <div class="grid-row">
                <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                    <div class="h3 text-primary-vivid text-bold text-center padding-bottom-6 padding-bottom-10">
                        Tampa VA, along with VHA Innovation Ecosystem, Microsoft, and MIT are launching the first-of-its-kind Veterans Health Hackathon to design solutions to the top challenges facing Veteran health care. 
                    </div>
                    <h2 class="h1 text-center">Creating Solutions to Veterans' Health Challenges</h2>
                    <p class="lead">Calling all innovators, makers, design-obsessives, scientists, nurses, doctors, entrepreneurs, programmers, engineers, researchers, artists, UX & CX, health care futurists and more. Join us in making a difference for Veterans. This event brings top minds together from VA, academia, and public and private sectors to reimagine Veteran health care. Experienced mentors join subject matter experts to guide “hackers” through this opportunity to revolutionize the care we provide for Veterans.</p>
                </div>        
            </div>
        </div>
    </div>
</section>