<section id="innovation-impact" class="innovation-impact padding-y-6 tablet:padding-y-10">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                <div class="grid-row grid-gap flex-row flex-align-center">
                    <div class="grid-col-12 tablet-lg:grid-col-7">
                        <h2 class="h3 text-primary-vivid">Strategic Focus:</h3>
                        <h3 class="h2 margin-top-0">VHA Hackathon Targets Key Priorities for Veteran Health</h3>     
                        <p>Veterans Health – MIT Hacking Medicine 2024 focuses exclusively on Veteran health priorities selected from VHA’s top strategic areas, including the delivery of the best and soonest care using Artificial Intelligence (AI).</p>       
                    </div>
                    <div class="grid-col-12 tablet-lg:grid-col-5">
                        <img src="/assets/img/home/strategic-focus.png" alt="" class="img-fluid" />
                    </div>                        
                </div>      
            </div>        
        </div>
    </div>
</section>