<section id="track-challenges" class="track-challenges">
    <div class="grid-container">
        <div class="track-challenges__wrapper text-white padding-y-4 padding-x-4 tablet:padding-y-10 tablet:padding-x-7 position-relative">
            <div class="grid-row grid-gap">
                <div class="grid-col-12 text-center">
                    <h2 class="margin-top-0">Track Challenges</h2>
                </div>                
            </div>
            <div class="grid-row grid-gap">
                <div class="grid-col-12 tablet-lg:grid-col-4 margin-bottom-8 tablet-lg:margin-0">
                    <div class="track-challenges__img">
                        <img data-src="assets/img/home/track-challenge-care.png" alt="Medical professional conducting a virtual visit through a laptop" class="lazy img-fluid radius-lg" />
                    </div>
                    <h3>Connect Veterans to the soonest and best care</h3>
                    <p class="margin-0">Address scheduling delays through solutions to enhance telehealth, improve accessibility, match clinical expertise to Veteran needs, align resources for quality care, standardize processes, and optimize care coordination to ensure timely access to the best possible care for Veterans.</p>
                </div> 
                <div class="grid-col-12 tablet-lg:grid-col-4 margin-bottom-8 tablet-lg:margin-0">
                    <div class="track-challenges__img">
                        <img data-src="assets/img/home/track-challenge-mental-health.png" alt="Veteran in front of trees" class="lazy img-fluid radius-lg" />
                    </div>
                    <h3>Prevent Veteran Suicide (Mental Health)</h3>
                    <p class="margin-0">Focus on aspects like modernizing the technology behind virtual care, new care models and modalities, employee training, implementing diverse and inclusive care practices, and advancing research and specialized care for various Veteran populations.</p>
                </div> 
                <div class="grid-col-12 tablet-lg:grid-col-4">
                    <div class="track-challenges__img">
                        <img data-src="assets/img/home/track-challenge-hire-faster.png" alt="Various career professionals huddles together, smiling" class="lazy img-fluid radius-lg" />
                    </div>
                    <h3>Hire faster and more competitively</h3>
                    <p class="margin-0">Improve VA's hiring process by introducing solutions to expedite recruitment, enhance the onboarding experience, reduce operational inefficiencies, and develop advanced hiring technologies, aiming to make VA a leader in 21st-century healthcare employment.</p>
                </div>                                                
            </div>
            <div class="grid-row grid-gap">
                <div class="grid-col-12 margin-top-4 text-center">
                    <a href="participant-application/" class="usa-button vha-button usa-button--inverse margin-bottom-2">Start Your Application</a>
                </div>                
            </div>                     
        </div>
    </div>
</section>