<section id="what-to-expect" class="what-to-expect padding-y-6 tablet-lg:padding-y-10">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 text-center">
                <h2>What to Expect</h2>
            </div>
        </div>
        <div class="grid-row card-gradient">
            <div class="grid-col-12 tablet-lg:grid-col-fill margin-bottom-3 tablet-lg:margin-bottom-0 card-gradient__col">
                <div class="usa-card card-gradient__card card-gradient--card-5">
                    <div class="usa-card__container">
                        <div class="usa-card__header padding-bottom-0">
                            <h2 class="h4 margin-0">Track Selection</h2>
                        </div>
                        <div class="usa-card__body">
                            <p>Hackers will be assigned tracks based on their application. Each hacker will have the opportunity to express interest in their preferred tracks in the application.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-fill margin-bottom-3 tablet-lg:margin-bottom-0 card-gradient__col">
                <div class="usa-card card-gradient__card card-gradient--card-4">
                    <div class="usa-card__container">
                        <div class="usa-card__header padding-bottom-0">
                            <h2 class="h4 margin-0">Open Invitation</h2>
                        </div>
                        <div class="usa-card__body">
                            <p>The Hackathon is open to the public and VA employees, allowing participation outside of regular VA duties.</p>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="grid-col-12 tablet-lg:grid-col-fill margin-bottom-3 tablet-lg:margin-bottom-0 card-gradient__col">
                <div class="usa-card card-gradient__card card-gradient--card-3">
                    <div class="usa-card__container">
                        <div class="usa-card__header padding-bottom-0">
                            <h2 class="h4 margin-0">Teammate Selection</h2>
                        </div>
                        <div class="usa-card__body">
                            <p>Upon arrival, teams will self-form through problem pitches and will stay together throughout the event.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-fill margin-bottom-3 tablet-lg:margin-bottom-0 card-gradient__col">
                <div class="usa-card card-gradient__card card-gradient--card-2">
                    <div class="usa-card__container">
                        <div class="usa-card__header padding-bottom-0">
                            <h2 class="h4 margin-0">Application Process</h2>
                        </div>
                        <div class="usa-card__body">
                            <p>Applications are continuously reviewed and accepted, with final notifications by May 1st.</p>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="grid-col-12 tablet-lg:grid-col-fill card-gradient__col">
                <div class="usa-card card-gradient__card card-gradient--card-1">
                    <div class="usa-card__container">
                        <div class="usa-card__header padding-bottom-0">
                            <h2 class="h4 margin-0">Inclusive Participation</h2>
                        </div>
                        <div class="usa-card__body">
                            <p>No special skills, talents, or background are required for individuals to participate.</p>
                        </div>
                    </div>
                </div>
            </div>                                      
        </div>
    </div>
</section>